{% extends "base.html" %}

{% block content %}
  <form method="post" style="border-width:3px; border-style:solid; border-color:#FFFFFF; background-color:#C67610; color:#FFFFFF; padding: .2em;">
    <h3>Forgot your password?</h3>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %} 
    {{ form.as_p }}
    <input type="submit" value="Reset password">
  </form>
{% endblock %}